@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

$uppercase: uppercase;
$font-josefin: "Josefin Sans", sans-serif;
$font-alata: "Alata", sans-serif;
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$grey-200: hsl(0, 0%, 85%);
$fw300: 300;
$fw400: 400;

body {
  margin: 0;
  padding: 0;
  font-family: $font-alata;
  background-color: $white;
  color: $black;
  font-size: 15px;
}

h1,
h2 {
  font-family: $font-josefin;
  text-transform: $uppercase;
  font-weight: $fw300;
}

.logo {
  background-image: url("./images/mobile/image-hero.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    border: 2px solid $white;
    color: $white;
    padding: 20px;
    text-align: left;
    max-width: 210px; /* adjust in wider screens at media query */
  }
}

header {
  position: relative;
  background-image: url("./images/mobile/image-hero.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    border: 2px solid $white;
    color: $white;
    padding: 20px;
    text-align: left;
    max-width: 210px; /* adjust in wider screens at media query */
  }
}

/* Header top bar: logo and menu */
.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.5rem;
  max-width: 1100px;
  margin: 0 auto;
  z-index: 10;
}

.logo {
  width: 110px;
  height: auto;
  display: block;
}

.menu-button {
  background: transparent;
  border: none;
  padding: 0.25rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.menu-button:focus {
  outline: 2px solid $white;
  outline-offset: 4px;
  border-radius: 4px;
}

main {
  padding: 20px;
  text-align: center;
  .image-interactive {
    width: 100%;
    height: auto;
    display: block;
  }

  .interactive p {
    color: grey;
  }

  .layout {
    padding: 0;
  }

  .layout li {
    border: 1px solid red;
    padding: 20px;
    list-style: none;
    text-transform: $uppercase;
    font-weight: $fw400;
    margin-bottom: 10px;
    text-align: left;
  }

  .layout li h4 {
  max-width: 80px;
    font-size: 16px;
  }
}

footer {
  text-align: center;
  font-size: 12px;
  color: $grey-200;
  background-color: $black;
}
